@model Film

<h2>Confirm Deletion</h2>
<h1>@Model.Title</h1>
<form asp-controller="Home" asp-action="Delete" method="post">
    <input type="hidden" asp-for="MovieId">
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="MovieList">Cancel</a>
</form>