
@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1>Get to Know Joel</h1>

<p>Joel performs regularly at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>.</p>

<p>He is also part of <a href="https://baconsale.com/" target="_blank">Baconsale</a></p>

<!-- Clickable image linking to Baconsale -->
<a href="https://baconsale.com/" target="_blank">
    <img src="/img/BaconsaleKate.jpg" alt="Baconsale Podcast" class="img-fluid rounded shadow-lg" style="max-width: 100%; height: auto;">
</a>
