@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Today is your lucky day. You may have opportunity to date this...</p>
    <img src="/img/JoelHiltonHeadshot.jpg" height="500" alt="ye">

    <br />

    <div>
        <a asp-controller="Home" asp-action="FilmEnter">Add a Film to the Collection</a>
    </div>
</div>